[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
program = "Fg6PaFpoGXkYsidMpWxTWKVWVw9MaW96kT8BUWJLLjF9"

[programs.localnet]
program = "Fg6PaFpoGXkYsidMpWxTWKVWVw9MaW96kT8BUWJLLjF9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm exec ts-mocha -p ./tsconfig.json -t 120000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
